In [1]:
# Import pandas lib and make it (shortcut) available as "pd"
import pandas as pd
# Import numpy lib and mit it (shorcut) available as "pd"
import numpy as np


df = pd.read_csv("movie_dataset.csv")

#dfc = pd.DataFrame(df)

Is df and DataFrame the same? eg. --> df.DataFrame?

# Assignment

- Can you print the first 10 records.
- What are the data types of the columns.
- Count of Animation movies.
(Hint: use the count() function)
- Show the Comedy movies in the year 2007.
- Count of Animation movies with more than 70% Audience Score.
- Show the list of top 5 movies based on profitability.
- Show the top 5 Comedy movies approved by the audience. (hint : Audience Score)

In [114]:
df.sort_values(by = 'Audience score %', ascending = False ).head(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
39,My Week with Marilyn,Drama,The Weinstein Company,84,0.825800,83,$8.26,2011
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007

In [113]:
df.sort_values(by = 'Profitability', ascending = False ).head(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
68,Fireproof,Drama,Independent,51,66.934000,40,$33.47,2008
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008

In [98]:
count1 = df.loc[df['Genre']=='Animation']
count1.loc[count1['Audience score %']>70]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010

In [120]:
## Show comedy movies in 2007

df[(df['Year'] == 2007) & (df['Genre'] == 'Comedy')] 


df.T[(df.T['Year'] == 2007) & (df.T['Genre'] == 'Comedy')]

KeyError: 'Year'

In [115]:
## Show all entrys for Genre, Animation / Count all Animation Movies

df.loc[df['Genre']=='Animation'].count()

Film                 4
Genre                4
Lead Studio          4
Audience score %     4
Profitability        4
Rotten Tomatoes %    4
Worldwide Gross      4
Year                 4
dtype: int64

In [117]:
df['Genre'].count()

77

In [ ]:
## DataFrame.dtypes Return the dtypes in the DataFrame.
print(df.dtypes)

In [ ]:
# head counts form the top 
# tail counts from the bottom

print(df.head(10))

In [68]:
## Read Headers
df.columns

## Read each Column
df[['Film', 'Genre']][0:5]

                                 Film    Genre
0          Zack and Miri Make a Porno  Romance
1                     Youth in Revolt   Comedy
2  You Will Meet a Tall Dark Stranger   Comedy
3                        When in Rome   Comedy
4               What Happens in Vegas   Comedy

In [71]:
## Read each Row 
df.iloc[0:4]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010

In [ ]:
## Read specific Row
for index, row in df.iterrows():
    print(index, row['Genre'])

In [ ]:
## Read a specific Location
df.iloc[0:5]