In [73]:
import pandas as pd
import numpy as np
from tabulate import tabulate
import inspect
import seaborn as sns 
import matplotlib.pyplot as plt
#from datetime import timedelta

def list_columns(df):
    for col in df: 
        print(col, end='   ')

In [74]:
df1 = pd.read_csv('Shekar-Dataset-1/last_week.csv', index_col=0) 
df2 = pd.read_csv('Shekar-Dataset-1/station_info.csv', index_col=0)



#data = [lw, si]

#for df in data: # Change the coloumn names to something I feel more used to. 
#    df.rename(columns={"dteday": "date", "cnt": "total_rentals", 'casual': 'casual_rentals', 'registered': 'registered_rentals', 'mnth':'month'}, inplace=True)

In [75]:
# https://www.semicolonworld.com/question/54955/mapping-columns-from-one-dataframe-to-another-to-create-a-new-column
df1['capacity_start_station'] = df1.start_station_name.map(dict(df2[['Name', 'Capacity']].values))
df1['capacity_end_station'] = df1.end_station_name.map(dict(df2[['Name', 'Capacity']].values))

df1['started_at'] = pd.to_datetime(df1['started_at'], format='%Y-%m-%d %H:%M:%S')# <-- How to change the datetime format to '%d.%m.%Y'| Use in a new line of code: dt.strftime('%m/%d/%Y')
df1['ended_at'] = pd.to_datetime(df1['ended_at'], format='%Y-%m-%d %H:%M:%S')
df1['day'] = pd.to_datetime(df1['ended_at'], format='%Y-%m-%d')
df1['rental_duration'] = df1['started_at']-df1['ended_at']
df1['rental_duration_num'] = df1['started_at']-df1['ended_at']
df1['rental_duration_num'] = df1['rental_duration_num'].dt.seconds//60
df1['station_pair'] = df1['start_station_id'].astype(str) + df1['end_station_id'].astype(str)
df1['combined_capacity'] = df1['capacity_start_station']*df1['capacity_end_station']

row_count = len(df1.index)
print('Current row count:',row_count)

Current row count: 57934

In [76]:
total = df1.isnull().sum().sort_values(ascending=False)
percent_1 = df1.isnull().sum()/df1.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
missing_data.head(5)

                        Total     %
combined_capacity        7565  13.1
capacity_end_station     5555   9.6
end_station_name         5422   9.4
end_station_id           5422   9.4
capacity_start_station   5150   8.9

In [77]:
df1 = df1.dropna()
droped_row_count = len(df1.index)

In [95]:
print(row_count - droped_row_count,'out of', row_count, 'have been droped!', 'This equals', ((row_count-droped_row_count)/row_count)*100,'% of the inital data.')

7565 out of 57934 have been droped! This equals 13.057962509062035 % of the inital data.

In [79]:
list_columns(df1)

rideable_type   started_at   ended_at   start_station_name   start_station_id   end_station_name   end_station_id   start_lat   start_lng   end_lat   end_lng   member_casual   day   capacity_start_station   capacity_end_station   rental_duration   rental_duration_num   station_pair   combined_capacity

In [ ]:
total = df1_dropna.isnull().sum().sort_values(ascending=False)
percent_1 = df1_dropna.isnull().sum()/df1_dropna.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
missing_data.head(5)

In [96]:
df1['station_pair'].value_counts().head(100)

31247.031247.0    170
31248.031248.0    128
31258.031258.0     90
31288.031288.0     87
31290.031290.0     80
Name: station_pair, dtype: int64

In [ ]:
sns.set(rc={'figure.figsize':(18,8), 'axes.facecolor':'cornflowerblue', 'figure.facecolor':'cornflowerblue'}, font_scale=1.5)

sns.barplot(data=df1, x="station_pair", y="rental_duration_num")