# Bikeshare

In [80]:
import pandas as pd
import numpy as np
from tabulate import tabulate
import inspect

In [81]:
day = pd.read_csv('Bike-Sharing-Dataset/day.csv')
hour = pd.read_csv('Bike-Sharing-Dataset/hour.csv')

### Functions might be used:

In [82]:
def retrieve_name(var):
        """
        Gets the name of var. Does it from the out most frame inner-wards.
        :param var: variable to get name from.
        :return: string
        """
        for fi in reversed(inspect.stack()):
            names = [var_name for var_name, var_val in fi.frame.f_locals.items() if var_val is var]
            if len(names) > 0:
                return names[0]

In [83]:
def missing(df):

    total = df.isnull().sum().sort_values(ascending=False)
    percent_1 = df.isnull().sum()/df.isnull().count()*100
    percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
    missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
    return missing_data.head(5)

In [84]:
def iter_columns(df):
    for col_name in df.columns: 
        print(col_name)

In [85]:
def get_cname(df,col):
    return df.columns[df.columns.get_loc(col)]  # <--- Is ther a nicer way to do this?

In [86]:
def explore(*args):
    for arg in args:
        print('Data exploration for',retrieve_name(arg),':','\n')
        print(arg.info(),'\n')
        #print('Describe the data:\n',arg.describe().round(2),'\n')
        for col in arg:
            if len(arg[col].unique()) < 50:
                print('List unique values of column',get_cname(arg,col),':\n',arg[col].unique())
        print('\n','Missing Values:\n',missing(arg),'\n\n\n') 
        print('Column names for',retrieve_name(arg),':\n')
        for col_name in arg.columns: 
            print(col_name, end='   ')
        print('\n')

### Targets

- Improve availability of bikes for working professionals / salaried employees as they are the most valued customers.
- Improve availability of bikes for casual customers.
- Provide statistics about contribution of weather in bike demands.
- Provide statistics about how traffic and pollution affect sales.

### Questions

- Is there a correlation between temp and feeled temp.
- Is there a correlation between temp, atemp and the toal bike rentals?
-

## Data Exploration

In [87]:
explore(day, hour)

Data exploration for day :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB
None

List unique values of column season :
 [1 2 3 4]
List unique values of column yr :
 [0 1]
List unique values of column mnth :
 [ 1  2  3  4  5  6  7  8  9 10 11 12]
List unique values of column holiday :
 [0 1]
List unique values of column weekday :
 [6 0 1 2 3 4 5]
List unique values of column workingday :
 [0 1]
List unique values of column weathersit :
 [2 1 3]

 Missing Values:
          Total    %
instant      0  0.0
dteday       0  0.0
season       0  0.0
yr           0  0.0
mnth         0  0.0



Column names for day :

instant   dteday   season   yr   mnth   holiday   weekday   workingday   weathersit   temp   atemp   hum   windspeed   casual   registered   cnt

Data exploration for hour :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB
None

List unique values of column season :
 [1 2 3 4]
List unique values of column yr :
 [0 1]
List unique values of column mnth :
 [ 1  2  3  4  5  6  7  8  9 10 11 12]
List unique values of column hr :
 [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
List unique values of column holiday :
 [0 1]
List unique values of column weekday :
 [6 0 1 2 3 4 5]
List unique values of column workingday :
 [0 1]
List unique values of column weathersit :
 [1 2 3 4]
List unique values of column windspeed :
 [0.     0.0896 0.2537 0.2836 0.2985 0.194  0.2239 0.1343 0.1642 0.3284
 0.4478 0.3582 0.4179 0.3881 0.1045 0.4925 0.5522 0.4627 0.5224 0.5821
 0.6567 0.6119 0.7761 0.6866 0.7463 0.6418 0.806  0.8507 0.8358 0.7164]

 Missing Values:
             Total    %
instant         0  0.0
weathersit      0  0.0
registered      0  0.0
casual          0  0.0
windspeed       0  0.0



Column names for hour :

instant   dteday   season   yr   mnth   hr   holiday   weekday   workingday   weathersit   temp   atemp   hum   windspeed   casual   registered   cnt

## Preprocessing

### Categorize Data

Both hour.csv and day.csv have the following fields, except hr which is not available in day.csv


#### Original columns:

- instant: record index
- dteday : date
- season : season (1:winter, 2:spring, 3:summer, 4:fall)
- yr : year (0: 2011, 1:2012)
- mnth : month ( 1 to 12)
- hr : hour (0 to 23)
- holiday : weather day is holiday or not (extracted from [Web Link])
- weekday : day of the week
- workingday : if day is neither weekend nor holiday is 1, otherwise is 0.
 weathersit:
  - 1: Clear, Few clouds, Partly cloudy, Partly cloudy
  - 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
  - 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
  - 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog
- temp : Normalized temperature in Celsius. The values are derived via (t-t_min)/(t_max-t_min), t_min=-8, t_max=+39 (only in hourly scale)
- atemp: Normalized feeling temperature in Celsius. The values are derived via (t-t_min)/(t_max-t_min), t_min=-16, t_max=+50 (only in hourly scale)
- hum: Normalized humidity. The values are divided to 100 (max)
- windspeed: Normalized wind speed. The values are divided to 67 (max)
- casual: count of casual users
- registered: count of registered users
- cnt: count of total rental bikes including both casual and registered

#### New columns:

- day: add hours
- raw_tem
- raw_atemp
- raw_hum

### Data Transformatin / Categorization

In [88]:
# Calculating the raw weather values
def raw_temp(temp):
    """
    Reverse normalized temperature (temp):
    tMin = -8
    tMax =  +39
    normTemp = (tempRaw-tMin)/(tMax-tMin)
    tempRaw = tMax*normTemp-tMin*normTemp+tMin
    returns tempRaw
    """    
    return 39*temp-(-8)*temp+(-8)

def raw_atemp(atemp):
    """
    Reverse normaliued feeling temperature (atemp):
    tMin = -16
    tMax =  +50
    normTemp = (atempRaw-tMin)/(tMax-tMin)
    atempRaw = tMax*normTemp-tMin*normTemp+tMin
    returns atempRaw
    """
    return 50*atemp-(-8)*atemp+(-8)

def raw_hum(hum):
    return hum*100

In [89]:
# Categorizing numeric values and further transformation. 

data = [day,hour] # <-- Ask about how data is saved to a variable. 

season_map = {1:'Winter', 2:'Spring', 3:'Summer', 4:'Fall'}
holiday_map = {0:'No', 1:'Yes'}
yr_map = {0:'2011', 1:'2012'}
workingday_map = {0:'No', 1:'Yes'}
weekday_map = {6:'Saturday', 0:'Sunday', 1:'Monday', 2:'Tuesday', 3:'Wednesday', 4:'Thursday', 5:'Friday'}
mnth_map = {1:'January', 2:'February', 3:'March', 4:'April', 5:'May', 6:'June', 7:'July', 8:'August', 9:'September', 10:'October', 11:'November', 12:'December'}
weathersit_map = {1:'nice', 2:'cloudy', 3:'wet', 4:'lousy'}

# All mapings in this for loop will be applied to day and hour. 
for df in data:
    df['season'] = df['season'].map(season_map)
    df['holiday'] = df['holiday'].map(holiday_map)
    df['yr'] = df['yr'].map(yr_map)
    df['workingday'] = df['workingday'].map(workingday_map)
    df['weekday'] = df['weekday'].map(weekday_map)
    df['mnth'] = df['mnth'].map(mnth_map)
    df['weathersit'] = df['weathersit'].map(weathersit_map)
    df['dteday'] = pd.to_datetime(df['dteday'], format='%Y-%m-%d') # <-- How to change the datetime format to '%d.%m.%Y' | This was chaning the dtype --> .dt.strftime('%m/%d/%Y')
    df['raw_temp'] = raw_temp(df['temp'])
    df['raw_atemp'] = raw_atemp(df['atemp'])
    df['raw_hum'] = raw_hum(df['hum'])

In [90]:
#


data = [train_df, test_df]
for dataset in data:
    dataset['Age'] = dataset['Age'].astype(int)
    dataset.loc[ dataset['Age'] <= 11, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 11) & (dataset['Age'] <= 18), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 18) & (dataset['Age'] <= 22), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 22) & (dataset['Age'] <= 27), 'Age'] = 3
    dataset.loc[(dataset['Age'] > 27) & (dataset['Age'] <= 33), 'Age'] = 4
    dataset.loc[(dataset['Age'] > 33) & (dataset['Age'] <= 40), 'Age'] = 5
    dataset.loc[(dataset['Age'] > 40) & (dataset['Age'] <= 66), 'Age'] = 6
    dataset.loc[ dataset['Age'] > 66, 'Age'] = 6

# let's see how it's distributed 
train_df['Age'].value_counts()

NameError: name 'train_df' is not defined

In [ ]:
hour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,raw_temp,raw_atemp,raw_hum
0,1,2011-01-01,Winter,2011,January,0,No,Saturday,No,nice,0.24,0.2879,0.81,0.0,3,13,16,3.28,8.6982,81.0
1,2,2011-01-01,Winter,2011,January,1,No,Saturday,No,nice,0.22,0.2727,0.80,0.0,8,32,40,2.34,7.8166,80.0
2,3,2011-01-01,Winter,2011,January,2,No,Saturday,No,nice,0.22,0.2727,0.80,0.0,5,27,32,2.34,7.8166,80.0
3,4,2011-01-01,Winter,2011,January,3,No,Saturday,No,nice,0.24,0.2879,0.75,0.0,3,10,13,3.28,8.6982,75.0
4,5,2011-01-01,Winter,2011,January,4,No,Saturday,No,nice,0.24,0.2879,0.75,0.0,0,1,1,3.28,8.6982,75.0

In [91]:
day.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,raw_temp,raw_atemp,raw_hum
0,1,2011-01-01,Winter,2011,January,No,Saturday,No,cloudy,0.344167,0.363625,0.805833,0.160446,331,654,985,8.175849,13.090250,80.5833
1,2,2011-01-02,Winter,2011,January,No,Sunday,No,cloudy,0.363478,0.353739,0.696087,0.248539,131,670,801,9.083466,12.516862,69.6087
2,3,2011-01-03,Winter,2011,January,No,Monday,Yes,nice,0.196364,0.189405,0.437273,0.248309,120,1229,1349,1.229108,2.985490,43.7273
3,4,2011-01-04,Winter,2011,January,No,Tuesday,Yes,nice,0.200000,0.212122,0.590435,0.160296,108,1454,1562,1.400000,4.303076,59.0435
4,5,2011-01-05,Winter,2011,January,No,Wednesday,Yes,nice,0.226957,0.229270,0.436957,0.186900,82,1518,1600,2.666979,5.297660,43.6957

In [ ]:
day.info()

In [ ]:
hour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  datetime64[ns]
 2   season      17379 non-null  object
 3   yr          17379 non-null  object
 4   mnth        17379 non-null  object
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  object
 7   weekday     17379 non-null  object
 8   workingday  17379 non-null  object
 9   weathersit  17379 non-null  object
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
 17  raw_temp    17379 non-null  float64
 18  raw_atemp   17379 non-null  float64
 19  raw_hum     17379 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(5), object(7)
memory usage: 2.7+ MB